

/*
 * Globals
 */

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 100%;
  /* background-color: wheat; */
}


/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
/* .nav-masthead .navbar-brand{
  margin-right: 150px;
} */


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.footer {
	/* background-color: aqua; */
  align-items: center;
}

/* CSS Style for D3 Chart*/

#peoplebox{
  /* background-color: wheat; */
  width: 250px;
  height: 120px;
  text-align: left;
  /* margin-left: 250px; */
  
}
#yearsbox {
  /* position: absolute; */
  /* z-index: 2; */
  /* right: 32px; */
  /* top: 56px; */
  /* display: none; */
  color: rgba(255,255,255,0.7);
}

#peoplecount, #peoplekilledcount {
  color: rgba(255,255,255,0.7);
  font-size: 60px;
  font-weight: 700;
  padding-left: 25px;
}
/* rgba(255,180,0,0.7); */
#peoplelabel, #peoplekilledlabel {
  color: rgba(255,255,255,0.7);
  text-align: left;
  font-size: 14px;
  font-weight: 700;
  /* position: relative;
  top: 6px;*/
  letter-spacing: 1px; 
  padding-left: 25px;
}
#peoplekilledcount,#peoplekilledlabel {
  color: rgba(233, 98, 98, 0.774);
}

.uStates{
  background-color: transparent;
}

#states {
  /* fill: none; */
  fill: rgb(212, 211, 211);
  stroke: #fff;
  stroke-width: .2px;
  
}

/* .states:hover {
  
  fill: rgba(233, 98, 98, 0.774);
  cursor: pointer;

} */

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.progress-scrubber {
  /* border: red 1px solid; */
  margin-top: 25px;
  width: 100%;
}
.progress-form{
  font: 12px var(--sans-serif);
  font-variant-numeric: 
  tabular-nums; 
  display: flex; 
  
  height: auto; 
  align-items: center;
  width: 100%;
  /* background-color: red; */
}
.progress-status-btn{
  margin-right: 0.4em; 
  width: 5em;
}
.progress-input{
  width: 90%;
  min-width: 780px;
  /* background-color: rgb(212, 228, 198); */
  border: 1px red solid;
}

.progress-output{
  width: 10%;
  /* min-width: 780px; */
  /* background-color: rgb(212, 228, 198); */
}